@using Kendo.Mvc.UI
@using VisReg.Cmn.Namings
@model VisReg.Web.ViewModels.UserPasswordViewModel


<div class="modal-header">
    <h4 class="modal-title text-center" id="myModalLabel"><strong>ΟΡΙΣΜΟΣ ΣΥΝΘΗΜΑΤΙΚΟΥ ΧΡΗΣΤΗ</strong></h4>

    @* ΟΡΙΣΜΟΣ ΣΥΝΘΗΜΑΤΙΚΟΥ *@
    @using (Html.BeginForm("SetUserPassword", "User", FormMethod.Post, new { id = "frmUserPwd" }))
    {
        <div class="modal-body bg-success">
            <div class="form-horizontal container">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.UserId)

                <div class="form-group">
                    @Html.LabelFor(m => m.UserPassword, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.UserPassword, new { htmlAttributes = new { @class = "form-control", @style = "text-align:left" } })
                        @Html.ValidationMessageFor(m => m.UserPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.UserPasswordConfirm, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
                    <div class="col-md-3">
                        @Html.EditorFor(m => m.UserPasswordConfirm, new { htmlAttributes = new { @class = "form-control", @style = "text-align:left" } })
                        @Html.ValidationMessageFor(m => m.UserPasswordConfirm, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div style="float:left">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <span class="glyphicon glyphicon-repeat"></span><strong> @NamingStrings.BtnCancel</strong>
                </button>
            </div>

            <button type="submit" class="btn btn-success" id="btnSaveUserPwd">
                <span class="glyphicon glyphicon-floppy-disk"></span><strong> @NamingStrings.BtnSave</strong>
            </button>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //Client-side form validation with modal dialog.
        $.validator.unobtrusive.parse("#frmUserPwd")
    });
</script>




